<div class="modal-header">
    <div class="modal-title">Aprovar Contrato</div>
    <div class="closed"><a class="link-closed" href="javascript:(void);" (click)="modal.close()"><i class="bi bi-x-lg"></i></a></div>
</div>
<div class="modal-body">
    <p style="text-align: justify;" class="text-dark">
        Deseja realmente aprovar o contrato <span class="reference">{{contractReference}}</span>? 
    </p>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="custom-button rounded shadow-3 submit mb-2" (click)="approveContract()">Aprovar</button>  
    <button type="button" class="custom-button-light rounded shadow-3 submit mb-2" (click)="modal.close()">Fechar</button>  
</div>