<div class="modal-header">
    <div class="modal-title">Confirmação</div>
  <div class="closed"><a class="link-closed" href="javascript:" (click)="close()"><i class="bi bi-x-lg"></i></a></div>
</div>
<div class="modal-body">
    <h6 class="h6" style="font-size: 13pt;">Confirmação para exclusão</h6>
    <br>
    <p style="text-align: justify;">Deseja realmente excluir a descrição do contrato <span class="reference">{{contractDescriptionDetails.reference}}</span>? A exclusão será permitida apenas para rascunhos, ou seja, para descrições que não possuem vínculos com contratos.</p>
</div>
<div class="modal-footer">
    <button type="submit" class="custom-button rounded shadow-3" (click)="submit()">Deletar</button>
    <button type="button" class="custom-button-light rounded shadow-3" (click)="close()">Fechar</button>
</div>