.custom-button {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 42px;
    border: none;
    font-size: 0.8rem;
    background-color: #277844;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #1b532e;
    }
}

.custom-button-light {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 42px;
    border: none;
    font-size: 0.8rem;
    background-color: #c15050;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #832c2c;
    }
}