<form (ngSubmit)="submit()" [formGroup]="typeForm" #formDir="ngForm" *ngIf="typeForm">
    <div class="modal-header">
        <div class="modal-title">Atualizar Tipo</div>
        <div class="closed"><a class="link-closed" href="javascript:" (click)="close()"><i class="bi bi-x-lg"></i></a></div>
    </div>
    <div class="modal-body modal-scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <ng-select class="d-flex flex-grow-1 custom" [placeholder]="'Informe o tipo do funcionário'" [notFoundText]="'Nenhum registro encontrado'" formControlName="type">
                        <ng-option *ngFor="let item of typeList" [value]="item.value">{{item.description}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control" value="{{employee.name}}" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender">Sexo</label>
                    <input type="text" id="gender" class="form-control" value="{{employee.gender == 'Male' ? 'Masculino' : 'Feminino'}}" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" class="form-control" value="{{getCpfFormatted()}}" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="custom-button rounded shadow-3" (click)="submit()">Atualizar</button>
        <button type="button" class="custom-button-light rounded shadow-3" (click)="close()">Fechar</button>
    </div>    
</form>