<div [@fadeInOnEnter]>
    <div cardTitle="Frota" class="search-form-container rounded mb-4">
        <div class="container-fluid">
            <div class="sub-header">
                <i class="bi bi-ui-checks-grid"></i>
            </div>
            <div>
                <button class="custom-button rounded shadow-2" [routerLink]="['/setting-panel/new']">
                    <i class="bi bi-plus"></i>
                    Painel
                </button>
            </div>
        </div>
    </div>
    <app-card cardTitle="Painel de configuração" cardClass="bus" blockClass="p-0">
        <div class="fleet-container" *ngIf="settingsPanel && settingsPanel.length != 0 else notFound">
            <div class="fleet-row" title="Detalhes" *ngFor="let item of settingsPanel" (click)="openDetails(item.id)">
                <div class="fleet-cell">
                    <p><span class="reference">{{item.reference}}</span></p>
                </div>
                <div class="fleet-cell">
                    <p>{{item.requester.name}}</p>
                </div>
                <div class="fleet-cell">
                    <p>{{getParent(item.parent)}}</p>
                </div>
                <div class="fleet-cell actions rounded">
                    <a href="javascript:" class="label {{getLabelActive(item.active)}} rounded">{{getDetailActive(item.active)}}</a>
                </div>
                <div class="fleet-cell">
                    <p>{{getDateFormated(item.createdAt)}}</p>
                </div>
                <div class="fleet-cell actions">
                    <div class="action-menu">
                        <a [routerLink]="'/setting-panel/edit/' + item.id" class="action-item" title="Editar"><i class="feather icon-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="fleet-row pagination">
                <mat-paginator (page)="handlePageEvent($event)" [length]="pagination.totalSize" [pageSize]="pagination.pageSize"
                  [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
        <ng-template #notFound>
            <div class="fleet-container">
              <div class="fleet-row">
                <div class="fleet-cell">
                  <p>Nenhum registro foi encontrado</p>
                </div>
              </div>
            </div>
        </ng-template>
    </app-card>
</div>