<div class="auth-wrapper" [@fadeInOnEnter]>
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <form autocomplete="off" [formGroup]="userResetPasswordStepNewPasswordForm" (ngSubmit)="submit()" #formDir="ngForm">
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <i class="feather icon-lock auth-icon"></i>
            </div>
            <h5 class="mb-4">Buses Control - Alterar senha</h5>
            <div class="input-group mb-4">
              <input formControlName="newPassword" type="password" class="form-control" placeholder="Informe sua senha" maxlength="100" />
              <div class="container-error" *ngIf="formDir.submitted">
                <small class="error-message" *ngIf="userResetPasswordStepNewPasswordForm.get('newPassword')?.hasError('required')">Senha é um campo obrigatório</small>
              </div>
            </div>
            <div class="input-group mb-4">
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirme sua senha" maxlength="100" />
                <div class="container-error" *ngIf="formDir.submitted">
                  <small class="error-message" *ngIf="userResetPasswordStepNewPasswordForm.get('confirmPassword')?.hasError('required')">Confirmar senha é um campo obrigatório</small>
                </div>
              </div>
            <button class="btn btn-primary shadow-2 mb-4">Alterar</button>
            <p class="mb-0 text-muted">
              Lembrou das informações de acesso?
              <a [routerLink]="['/auth/signin']">Logar</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>