.text-decoration-none{
    padding: 0;
    margin: 0;
    position: 0;
}

.notification-body {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notification-title {
    text-decoration: underline;
}