<div class="modal-header">
    <div class="modal-title">Detalhes</div>
    <div class="closed"><a class="link-closed" href="javascript:" (click)="close()"><i class="bi bi-x-lg"></i></a></div>
</div>
<div class="modal-body modal-scroll">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="active">Status</label>
                <input type="text" class="form-control" id="active" value="{{getActive()}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="brand">Nome</label>
                <input type="text" class="form-control" id="brand" value="{{supplier.name}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" class="form-control" id="cnpj" value="{{getCnpjFormatted()}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="openDate">Data de abertura</label>
                <input type="date" class="form-control" id="openDate" value="{{supplier.openDate}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phoneNumber">Telefone</label>
                <input type="text" class="form-control" id="phoneNumber" value="{{phoneNumberFormatted()}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" value="{{supplier.email}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="homeNumber">Número da Casa</label>
                <input type="text" class="form-control" id="homeNumber" value="{{supplier.homeNumber}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" value="{{supplier.logradouro}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="complementResidential">Complemento Residencial</label>
                <input type="text" class="form-control" id="complementResidential" value="{{supplier.complementResidential}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" id="neighborhood" value="{{supplier.neighborhood}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">Cidade</label>
                <input type="text" class="form-control" id="city" value="{{supplier.city}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="state">Estado</label>
                <input type="text" class="form-control" id="state" value="{{supplier.state}}" readonly>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="custom-button rounded shadow-3" (click)="submit()">{{actionTxt}}</button>
    <button type="button" class="custom-button-light rounded shadow-3" (click)="close()">Fechar</button>
</div>