/* Botão padrão claro */
.custom-button-light {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 95px;
    height: 38px;
    border: none;
    font-size: 0.8rem;
    background-color: #c15050;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #832c2c;
    }
}

/* Botão de envio */
.custom-button-send {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 60px;
    height: 43px;
    border: none;
    font-size: 0.8rem;
    background-color: #415d8e;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #293548;
    }
}

/* Corpo da mensagem (área de rolagem) */
.body-message-scrool {
    min-height: 60vh;
    height: auto;    
    max-height: 63vh; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

/* Contêiner de mensagens */
.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

/* Estilo geral das mensagens */
.message {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 10px;
    border-radius: 12px;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Conteúdo da mensagem */
.message-content {
    word-wrap: break-word;
}

/* Hora da mensagem */
.message-time {
    align-self: flex-end;
    font-size: 0.7rem;
    margin-top: 5px;
}

/* Mensagens do usuário (direita) */
.user-message {
    align-self: flex-end;
    background-color: #637394;
    color: white;
    font-weight: 390;
    position: relative;
    border-radius: 8px;
}

/* Mensagens de outros (esquerda) */
.other-message {
    align-self: flex-start;
    background-color: #f7f7f7;
    color: #333;
    position: relative;
    border-radius: 8px;
}

.custom-input-message {
    border-radius: 10px !important;
}