@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

label {
    font-size: 0.9em;
    color: #242424;
    font-weight: normal;
    letter-spacing: -1px;
}

.modal-title {
    font-size: 16pt;
    color: #034b83;
    font-weight: 400;
    letter-spacing: -1px;
}

.link-close {
    font-size: 16pt;
    color: #034b83;
    line-height: 1;
    transition: 1s;
}

.link-close:hover{
    color: #013257;
}

.btn {
    margin: 0;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 11pt;
    font-weight: 430;
    width: 115px;
}

.btn-primary {
    color: white !important;
    background-color: #0273C6;
    border: 1px solid #0273C6;
    transition: 0.6s !important;
}

.btn-primary:hover {
    color: white;
    background-color: #025ea0;
}


.btn-primary-outline {
    color: #0273C6;
    border: 1px solid #0273C6;
    transition: 0.6s;
}

.btn-primary-outline:hover {
    color: rgba(255, 255, 255, 0.856);
    background-color: #0273C6;
    border: 1px solid #0273C6;
}