<div @fadeInOnEnter>
    <div class="p-0">
        <div class="board">
            <!-- ABERTO -->
            <div class="list list-cyan">
                <div class="list-title">Aberto</div>
                <div class="list-content">

                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ... outros cards da coluna Aberto ... -->

                </div>
            </div>

            <!-- EM ANDAMENTO -->
            <div class="list list-green">
                <div class="list-title">Em andamento</div>
                <div class="list-content">

                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- ... outros cards da coluna Em andamento ... -->

                </div>
            </div>

            <!-- ENCERRADO -->
            <div class="list list-orange">
                <div class="list-title">Encerrado</div>
                <div class="list-content">

                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Atualização do sistema</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Em progresso
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #TSYNOSO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 31/03/2025 às 13:42
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- ... outros cards da coluna Encerrado ... -->

                </div>
            </div>

            <!-- CANCELADOS -->
            <div class="list list-red">
                <div class="list-title">Cancelados</div>
                <div class="list-content">

                    <div class="card">
                        <div class="card-content">
                            <div class="title">Solicitação indevida do cliente</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Cancelado
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #CQDNVVO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 25/03/2025 às 17:00
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Solicitação indevida do cliente</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Cancelado
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #CQDNVVO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 25/03/2025 às 17:00
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="title">Solicitação indevida do cliente</div>
                            <div class="label">
                                <i class="fas fa-info-circle"></i>
                                Cancelado
                            </div>
                            <div class="label">
                                <i class="fas fa-hashtag"></i>
                                #CQDNVVO
                            </div>
                            <div class="label">
                                <i class="fas fa-clock"></i>
                                Aberto em 25/03/2025 às 17:00
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="custom-button">
                                    <i class="fas fa-comments"></i> Chat
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ... outros cards da coluna Cancelados ... -->

                </div>
            </div>
        </div>
    </div>
</div>