<div [@fadeInOnEnter]>
    <div cardTitle="Frota" class="search-form-container rounded">
        <div class="container-fluid">
            <div>
                <form class="input-group">
                    <span class="span-custom">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control rounded" placeholder="Pesquisar por..." (input)="search($event)">
                </form>
            </div>
            <div>
                <button class="custom-button rounded shadow-2" [routerLink]="['/webhooks/new']">
                    <i class="bi bi-plus"></i>
                    Webhook
                </button>
            </div>
        </div>
    </div>
    <app-card cardTitle="Webhooks" blockClass="p-0">
        <div class="fleet-container" *ngIf="webhooks && webhooks.length != 0 else notFound">
            <div class="fleet-row" title="Detalhes" *ngFor="let item of webhooks">
                <div class="fleet-cell">
                    <p>{{item.name}}</p>
                </div>
                <div class="fleet-cell">
                    <p><span class="type">{{getType(item.type)}}</span></p>
                </div>
                <div class="fleet-cell">
                    <p>{{item.interrupted ? 'interropido' : 'não interropido'}}</p>
                </div>
                <div class="fleet-cell">
                    <p>v{{item.apiVersion}}</p>
                </div>
                <div class="fleet-cell actions rounded">
                    <a href="javascript:" class="label {{getLabelStatus(item.enabled)}} rounded shadow-1">{{getDetailStatus(item.enabled)}}</a>
                </div>
                <div class="fleet-cell actions">
                    <div class="action-menu">
                        <a href="javascript:" (click)="openDetails(item.id)" class="action-item" title="Excluir"><i class="feather icon-trash-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #notFound>
            <div class="fleet-container">
              <div class="fleet-row">
                <div class="fleet-cell">
                  <p>Nenhum registro foi encontrado</p>
                </div>
              </div>
            </div>
        </ng-template>
    </app-card>
</div>