<div [@fadeInOnEnter]>
    <div cardTitle="Contratos" class="search-form-container rounded mb-4">
        <div class="container-fluid">
            <div class="d-flex bg-white gap-2 justify-content-center align-items-center flex-wrap">
                <form class="input-group">
                    <ng-select class="d-flex flex-grow-1 custom" [placeholder]="'Filtrar por status...'"
                        [notFoundText]="'Nenhum registro encontrado'" (change)="filter($event)">
                        <ng-option *ngFor="let item of contractsStatus" [value]="item.value">
                            {{item.description}}
                        </ng-option>
                    </ng-select>
                </form>
            </div>
            <div>
                <a class="custom-button rounded shadow-2" [routerLink]="['/contracts/new']">
                    <i class="bi bi-plus"></i>
                    Contrato
                </a>
            </div>
        </div>
    </div>
    <app-card cardTitle="Contratos" cardClass="bus" blockClass="p-0">
        <div class="fleet-container" *ngIf="contracts?.length !=0 else notFound">
            <div *ngFor="let contract of contracts; let i = index">
                <div class="fleet-row" title="Detalhes" (click)="toggleCollapse(i)">
                    <div class="fleet-cell">
                        <p><span class="reference">{{ contract.reference }}</span></p>
                    </div>
                    <div class="fleet-cell">
                        <p>{{commonService.getValueFormatted(contract.totalPrice) }}</p>
                    </div>
                    <div class="fleet-cell">
                        <span class="label {{getStatusLabel(contract.status)}} rounded">{{ getStatusDescription(contract.status) }}</span>
                    </div>
                    <div class="fleet-cell">
                        <p><span class="label {{ contract.isApproved ? 'label-green' : 'label-orange'}}">{{ contract.isApproved ? 'Aprovado' : 'Não Aprovado' }}</span></p>
                    </div>
                    <div class="fleet-cell">
                        <p>{{ commonService.getDateFormatted(contract.createdAt) }}</p>
                    </div>
                    <div class="fleet-cell actions">
                        <div class="action-menu text-end">
                            <a class="action-item bg-light shadow" title="Expandir/Retrair">
                                <i [ngClass]="isCollapsed[i] ? 'feather icon-plus' : 'feather icon-minus'"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isCollapsed[i]" class="collapse-content bg-light" style="padding: 25px 100px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="h-100">
                                <div>
                                    <p><strong>Contrato ID:</strong> {{ contract.id }}</p>
                                    <p><strong>Referência:</strong> {{ contract.reference }}</p>
                                    <p><strong>Tipo de pagamento: </strong><span class="reference">{{ getPaymentTypeDescription(contract.paymentType) }}</span></p>
                                    <p><strong>Valor:</strong> {{ commonService.getValueFormatted(contract.totalPrice) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="h-100">
                                <div>
                                    <p><strong>Status: </strong><span class="reference">{{ getStatusDescription(contract.status) }}</span></p>
                                    <p><strong>Aprovado:</strong> {{ contract.isApproved ? 'Sim' : 'Não' }}</p>
                                    <p><strong>Data de Criação:</strong> {{ commonService.getDateFormatted(contract.createdAt) }}</p>
                                    <p><strong>Data de Término:</strong> {{ commonService.getDateFormatted(contract.terminateDate) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="h-100">
                                <div>
                                    <p><strong>Motorista:</strong> {{contract.driver.name}}</p>
                                    <p><strong>Ônibus:</strong> {{contract.bus.name}}</p>
                                    <p style="text-align: justify;"><strong>Detalhes: </strong>{{contract.details}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-end m-0 p-0">
                            <button *ngIf="enabledApprove" type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" title="Aprovar Contrato" (click)="openApprove(contract.id, contract.reference)">
                                <i class="feather icon-check-square"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" title="Gerenciar Contrato" (click)="openManageContract(contract.id)">
                                <i class="feather icon-sliders"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" title="Download do contrato" (click)="openDocumentFile(contract.id)">
                                <i class="feather icon-printer"></i>
                            </button>
                            <a type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" [routerLink]="['/contracts/details/' + contract.id]" title="Substituições">
                                <i class="feather icon-settings"></i>
                            </a>
                            <a type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" [routerLink]="['/contracts/details/' + contract.id]" title="Visualizar Contrato">
                                <i class="feather icon-eye"></i>
                            </a>
                            <a class="btn btn-icon btn-rounded btn-template shadow-sm" [routerLink]="['/contracts/edit/' + contract.id]" title="Editar Contrato">
                                <i class="feather icon-edit"></i>
                            </a>
                            <button type="button" class="btn btn-icon btn-rounded btn-template shadow-sm me-2" title="Deletar contrato" (click)="openDelete(contract.id, contract.reference)">
                                <i class="feather icon-trash-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Paginação -->
            <div class="fleet-row pagination">
                <mat-paginator (page)="handlePageEvent($event)" [length]="pagination.totalSize"
                    [pageSize]="pagination.pageSize" [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
        <ng-template #notFound>
            <div class="fleet-container">
                <div class="fleet-row">
                    <div class="fleet-cell">
                        <p>Nenhum registro foi encontrado</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-card>

</div>