.auth-content{
    width: 500px;
}

.btn{
    width: 100%;
}

.display-check {
    margin-top: -20px;
    margin-bottom: 15px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.check-password {
    font-size: 13pt;
}

.check-label {
    margin-top: 2px;
    font-size: 10pt;
}

.form-control {
    background-color: #ffff;
}

.error-message {
    position: absolute;
    top: 39px; 
    left: 0;
    font-size: 9pt;
    color: red;
}