<div class="auth-wrapper" [@fadeInOnEnter]>
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card rounded">
      <form class="card-body text-center" (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h5 class="mb-4">Buses Control - Login</h5>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="username" required/>
        </div>
        <div class="input-group mb-4">
          <input type="{{type}}" class="form-control" placeholder="Senha" formControlName="password"/>
        </div>
        <div class="display-check">
          <input type="checkbox" class="check-password form-check-input" (click)="CheckPassword()"/>
          <label class="check-label">Mostrar senha</label>
        </div>
        <button class="btn btn-glow btn-primary mb-4" type="submit">Logar</button>
        <p class="mb-2 text-muted">
          Esqueceu sua senha?
          <a [routerLink]="['/auth/reset']">Redefinir</a>
        </p>
      </form>
    </div>
  </div>
</div>
