<div class="modal-header">
  <div class="modal-title">Detalhes</div>
  <div class="closed"><a class="link-closed" href="javascript:" (click)="close()"><i class="bi bi-x-lg"></i></a></div>
</div>
<div class="modal-body modal-scroll">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="brand">Marca</label>
        <input type="text" class="form-control" id="brand" placeholder="Digite a marca" maxlength="60" value="Marcopolo" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Digite o nome" minlength="60" value="Paradiso 1200" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="manufactureDate">Cor</label>
        <input type="text" class="form-control" id="manufactureDate" value="Azul" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="manufactureDate">Data de Fabricação</label>
        <input type="date" class="form-control" id="manufactureDate" value="2024-04-20" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="renavam">Renavam</label>
        <input type="text" class="form-control" id="renavam" placeholder="Digite o Renavam" maxlength="11" value="15976644565" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="licensePlate">Placa</label>
        <input type="text" class="form-control" id="licensePlate" placeholder="Digite a placa" maxlength="8" value="ABF-2013" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="chassi">Chassi</label>
        <input type="text" class="form-control" id="chassi" placeholder="Digite o chassi" maxlength="17" value="1HH76644561AE345G" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="seatingCapacity">Capacidade de Assentos</label>
        <input type="number" class="form-control" id="seatingCapacity" placeholder="Digite a capacidade de assentos" value="55" readonly>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="custom-button rounded shadow-3" (click)="close()">Inativar</button>
  <button type="button" class="custom-button-light rounded shadow-3" (click)="close()">Fechar</button>
</div>
