.custom-button {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 42px;
    border: none;
    font-size: 0.8rem;
    background-color: #415d8e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #293548;
    }
}

.custom-button-light {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 120px;
    height: 42px;
    border: none;
    font-size: 0.8rem;
    background-color: #c15050;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #832c2c;
    }
}

  .app-card {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      overflow: hidden;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;
  }

  .reference {
      color: #415d8e;
  }

  .feather {
    font-size: 13pt !important;
  }

  strong {
    font-weight: 401 !important;
  }

.btn-red {
    color: white !important;
    background-color: #c15050 !important; 

    &:hover {
        color: white !important;
        background-color: #832c2c !important;
    }
}

.sub-title {
    margin-bottom: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
}

.pricing-price {
    font-size: 22px;
    font-weight: 560;
    color: #415d8e;
}