<div [@fadeInOnEnter] *ngIf="invoice">
    <div class="row" *ngIf="invoice.status != 'Paid' && invoice.status != 'Canceled' else invoiceReport">
        <div class="col-md-4">
            <div class="card border-radius-default" blockClass="p-0">
                <div class="card-header d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <h5 class="mb-2">Resumo da Fatura</h5>
                        <p style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                            {{invoice.title}}
                        </p>
                    </div>
                    <div class="card-header-rigth">
                        <span class="{{getStatusLabel(invoice.status)}}">{{getStatusDescription(invoice.status)}}</span>
                    </div>
                </div>
                <div class="row" style="padding: 20px 30px;">
                    <div class="col-md-12 d-flex flex-column gap-2">
                        <h5 class="sub-title">Pagamento da {{invoice.title}}</h5>
                        <span style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                            {{invoice.description}}
                        </span>
                        <span style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                            Vencimento em <strong>{{commonService.getDateFormatted(invoice.dueDate)}}</strong>
                        </span>
                        <span class="pricing-price ">{{commonService.getValueFormatted(invoice.totalPrice)}}</span>
                    </div>
                    <div class="col-md-12" style="color: rgb(75, 75, 75);">
                        <hr>
                    </div>
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="d-flex gap-2 flex-column">
                            <span style="color: rgb(32, 32, 32); font-size: 10pt;">Valor:</span>
                            <span style="color: rgb(32, 32, 32); font-size: 10pt;">Juros:</span>
                            <span style="color: rgb(32, 32, 32); font-size: 10pt; font-weight: 450;">Total:</span>
                        </div>
                        <div class="d-flex gap-2 flex-column">
                            <span
                                style="color: rgb(32, 32, 32); font-size: 10pt;">{{commonService.getValueFormatted(invoice.price)}}</span>
                            <span
                                style="color: rgb(32, 32, 32); font-size: 10pt;">{{commonService.getValueFormatted(invoice.interestRate)}}</span>
                            <span
                                style="color: rgb(32, 32, 32); font-size: 10pt; font-weight: 450;">{{commonService.getValueFormatted(invoice.totalPrice)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-radius-default" blockClass="p-0">
                <div class="card-header d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <h5 class="mb-2">Informações de Pagamento</h5>
                        <p style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                            Escolha o método de pagamento e preencha os dados necessários.
                        </p>
                    </div>
                </div>
                <form (ngSubmit)="submit()" [formGroup]="invoicePayment" #formDir="ngForm" class="row"
                    style="padding: 20px 30px;">
                    <div class="col-md-12">
                        <h5 class="sub-title mb-2">Dados Pessoais</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input type="text" class="form-control" id="name" placeholder="Digite a marca"
                                        maxlength="60" formControlName="holderName"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" class="form-control" id="email" placeholder="Digite a marca"
                                        maxlength="60" formControlName="holderEmail"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="phoneNumber">Telefone</label>
                                    <input type="text" class="form-control" id="phoneNumber"
                                        placeholder="Digite a marca" maxlength="60" formControlName="holderMobilePhone"
                                        mask="(00) 00000-0000"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="document">CPF/CNPJ</label>
                                    <input (input)="handleMaskDocument()" type="text" class="form-control" id="document"
                                        placeholder="Digite o CPF ou CNPJ" [mask]="cpfCnpjMask"
                                        formControlName="holderCpfCnpj"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="holderPostalCode">CEP</label>
                                    <input type="text" class="form-control" id="holderPostalCode"
                                        placeholder="Digite o CEP" mask="00000-000" formControlName="holderPostalCode"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="holderAddressNumber">Número do Endereço</label>
                                    <input type="text" class="form-control" id="holderAddressNumber"
                                        placeholder="Digite o número do endereço" maxlength="60"
                                        formControlName="holderAddressNumber"
                                        [readOnly]="invoicePayment.get('paymentMethod')?.value != 'CreditCard'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5 class="sub-title mb-3 mt-3">Método de Pagamento</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="container-button-payment mb-3">
                            <button class="options-button" (click)="setPaymentMethod('CreditCard')" type="button"
                                [ngClass]="invoicePayment.get('paymentMethod')?.value == 'CreditCard' ? 'options-button-active' : ''">
                                <span class="feather icon-credit-card"></span> Cartão
                            </button>
                            <button class="options-button" (click)="setPaymentMethod('PIX')" type="button"
                                [ngClass]="invoicePayment.get('paymentMethod')?.value == 'PIX' ? 'options-button-active' : ''">
                                <span class="fa fa-qrcode"></span> PIX
                            </button>
                            <button class="options-button" (click)="setPaymentMethod('JustCount')" type="button"
                                [ngClass]="invoicePayment.get('paymentMethod')?.value == 'JustCount' ? 'options-button-active' : ''">
                                <span class="feather icon-check-square"></span> Cotabilize
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="invoicePayment.get('paymentMethod')?.value == 'CreditCard'" [@fadeInOnEnter]>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="number">Número do Cartão</label>
                                    <input type="text" class="form-control" id="number"
                                        placeholder="Digite o número do cartão" mask="0000 0000 0000 0000"
                                        formControlName="number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="expiryMonth">Mês de Validade</label>
                                    <input type="text" class="form-control" id="expiryMonth" placeholder="MM" mask="00"
                                        formControlName="expiryMonth">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="expiryYear">Ano de Validade</label>
                                    <input type="text" class="form-control" id="expiryYear" placeholder="AA" mask="0000"
                                        formControlName="expiryYear">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="securityCode">Código de Segurança</label>
                                    <input type="text" class="form-control" id="securityCode"
                                        placeholder="Digite o código de segurança" mask="000"
                                        formControlName="securityCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="invoicePayment.get('paymentMethod')?.value == 'PIX'" [@fadeInOnEnter]>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card shadow-sm" style="border-radius: 5px;">
                                    <div class="row" style="padding: 15px 15px;">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <img class="img-pix" src="assets/images/pix.jpg" />
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="text-justify" style="color: rgb(79, 79, 79);">
                                                Para pagamento realizado via <strong>PIX</strong>, ao clicar em
                                                <strong>Finalizar</strong>, um QR Code será gerado automaticamente. Você
                                                poderá escanear o QR Code com o aplicativo do seu banco, copiar o código
                                                do PIX manualmente para colar no app, ou ainda compartilhá-lo com a
                                                pessoa responsável pelo pagamento.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="invoicePayment.get('paymentMethod')?.value == 'JustCount'" [@fadeInOnEnter]>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card shadow-sm" style="border-radius: 5px;">
                                    <div class="row" style="padding: 15px 15px;">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <img class="img-pix" src="assets/images/contabilize.jpeg" />
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="text-justify" style="color: rgb(79, 79, 79);">
                                                O método <strong>contabilizar</strong> serve para confirmar que o
                                                pagamento foi realizado por meios externos ao <strong>sistema</strong>
                                                ou ao nosso <strong>gateway de pagamento</strong>. Mas com o objetivo de
                                                manter a conformidade e evitar que a fatura seja considerada em atraso,
                                                se torna necessário <strong>contabilizá-lo no sistema</strong>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end gap-2">
                        <button class="custom-button rounded shadow-2" type="submit">
                            Finalizar
                        </button>
                        <a class="custom-button-light rounded shadow-2"
                            [routerLink]="['/financials/' + financialId + '/invoices']">
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-template #invoiceReport>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-radius-default" blockClass="p-0">
                    <div class="card-header d-flex justify-content-between align-items-center gap-2">
                        <div class="d-flex flex-column">
                            <h5 class="mb-2">Resumo da Fatura</h5>
                        </div>
                        <div class="card-header-rigth">
                            <span class="{{getStatusLabel(invoice.status)}}">Fatura {{getStatusDescription(invoice.status)}}</span>
                        </div>
                    </div>
                    <div class="row" style="padding: 20px 30px;">
                        <div class="col-md-12 d-flex flex-column gap-2">
                            <h5 class="sub-title">{{invoice.title}}</h5>
                            <span style="max-width: 135px; padding: 0 0.1rem;" class="label label-blue" *ngIf="invoice.paymentMethod">{{getPaymentMethod(invoice.paymentMethod)}}</span>
                            <span style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                                {{invoice.description}}
                            </span>
                            <span style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">
                                Vencimento em <strong>{{commonService.getDateFormatted(invoice.dueDate)}}</strong>
                            </span>
                            <span *ngIf="invoice.paymentDate" style="margin-top: -3px !important; color: rgb(75, 75, 75); font-size: 10pt;">Pagamento realizado em <strong>{{commonService.getDateFormatted(invoice.paymentDate)}}</strong></span>
                            <span class="pricing-price">{{commonService.getValueFormatted(invoice.totalPrice)}}</span>
                        </div>
                        <div class="col-md-12" style="color: rgb(75, 75, 75);">
                            <hr>
                        </div>
                        <div class="col-md-12 d-flex justify-content-between">
                            <div class="d-flex gap-2 flex-column">
                                <span style="color: rgb(32, 32, 32); font-size: 10pt;">Valor:</span>
                                <span style="color: rgb(32, 32, 32); font-size: 10pt;">Juros:</span>
                                <span style="color: rgb(32, 32, 32); font-size: 10pt; font-weight: 450;">Total:</span>
                            </div>
                            <div class="d-flex gap-2 flex-column align-items-end">
                                <span
                                    style="color: rgb(32, 32, 32); font-size: 10pt;">{{commonService.getValueFormatted(invoice.price)}}</span>
                                <span
                                    style="color: rgb(32, 32, 32); font-size: 10pt;">{{commonService.getValueFormatted(invoice.interestRate)}}</span>
                                <span
                                    style="color: rgb(32, 32, 32); font-size: 10pt; font-weight: 450;">{{commonService.getValueFormatted(invoice.totalPrice)}}</span>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end gap-2 mt-4">
                            <a class="custom-button-light rounded shadow-2" [routerLink]="['/financials/' + financialId + '/invoices']">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>