<div class="modal-header">
    <div class="modal-title">Pagamento Pix</div>
    <div class="closed"><a class="link-closed" href="javascript:(void);" (click)="modal.close()"><i class="bi bi-x-lg"></i></a></div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm" style="border-radius: 5px;"></div>
        </div>
        <div class="col-md-12 d-flex justify-content-between">
            <button class="btn custom-button"><i class="feather icon-share-2"></i> Compartilhar Fatura</button>
        </div>
    </div>
</div>