<div [@fadeInOnEnter]>
  <div class="search-form-container rounded">
    <div class="container-fluid">
      <div>
        <form class="input-group">
          <span class="span-custom">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" class="form-control rounded" placeholder="Pesquisar por...">
        </form>
      </div>
      <div>
        <button class="custom-button rounded shadow-2" [routerLink]="['/bus/new']"><i
            class="bi bi-plus"></i>Ônibus</button>
      </div>
    </div>
  </div>
  <app-card cardTitle="Frota" cardClass="bus" blockClass="p-0">
    <div class="fleet-container">
      <div *ngFor="let item of frota">
        <div class="fleet-row" (click)="OpenDetails(item.id)" title="Detalhes">
          <div class="fleet-cell">
            <p>{{item.brand}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{item.name}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{item.licensePlate}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{item.color.color}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{item.seatingCapacity}}</p>
          </div>
          <div class="fleet-cell actions rounded">
            <a href="javascript:" class="label {{GetLabelStatus(item.status)}} rounded shadow-1">{{GetDetailStatus(item.status)}}</a>
          </div>
          <div class="fleet-cell actions rounded">
            <a href="javascript:" class="label {{GetLabelAvailability(item.availability)}} rounded shadow-1">{{GetDetailAvailability(item.availability)}}</a>
          </div>
          <div class="fleet-cell actions">
            <div class="action-menu">
              <a [routerLink]="['/bus/edit/' + item.id]" class="action-item" title="Editar"><i class="feather icon-edit"></i></a>
              <a [routerLink]="['/bus']" class="action-item" title="Gerir disponibilidade" (click)="OpenAvailability($event, item.id)"><i class="{{GetIconAvailability(item.availability)}}"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fleet-row pagination">
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </app-card>
</div>