@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  line-height: 1.5;

  td,
  th {
    font-family: 'Open Sans', sans-serif;
  }
}
.attribute-container {
  position: relative;
}

.attribute-error {
  position: absolute;
  top: -4px;
  font-size: 9pt;
  color: #f33131;
}

.cdk-overlay-container { 
  z-index: 100000; 
}

.modal-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  color: #415d8e;
  font-weight: 450;
  font-size: 12pt;
}

.link-closed {
  font-size: 13pt;
  color: #415d8e;
}

.link-closed:hover {
  color: #364e77;
}

.modal-footer {
  justify-content: space-between;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  gap: 2px;
  background-color: #bbcbe8;
  border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(68, 68, 168, 0.479);
}

header {
  width: 100%;
}

.modal-scroll {
  max-height: 350px;
  overflow-y: auto;
}

.disabled {
  color: gray;
}
.form-control {
  height: auto;
}

.ng-select.custom {
  min-height: 42.7px;
  font-size: 0.86em;
  font-weight: normal;
}

.ng-select.custom .ng-select-container {
  min-height: 42.7px;
  padding: 3px;
}

ng-select .ng-option {
  z-index: 100000; 
}

.custom-button-swal {
  display: flex !important;
  gap: 3px !important;
  justify-content: center !important;
  align-items: center !important;
  width: 120px !important;
  height: 42px !important;
  border: none;
  font-weight: normal !important;
  font-size: 0.8rem !important;
  background-color: #415d8e !important;
  color: white !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;

  &:hover {
      background-color: #374761 !important;
  }
}

@media(max-width: 550px) {
  .section-button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .submit {
    width: 100% !important;
  }
}

@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    left: 0 !important;
  }

  wizard.vertical .vertical a {
    display: none;
  }
}

.pcoded-header .dropdown.show:before {
  left: -10px !important;
}

pre code {
  width: auto;
  min-width: 100%;
  margin-left: -80px !important;
}

.btn.btn-sm {
  padding: 3px 12px;
  border-radius: 0.15rem;
}

.btn.btn-lg {
  padding: 12px 25px;
  border-radius: 0.35rem;
}

.fixed-button {
  position: fixed;
  bottom: -50px;
  right: 30px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.fixed-button.active {
  bottom: 50px;
  opacity: 1;
}