.auth-content{
    width: 500px;
}

.btn {
    width: 100%;
}

.form-control {
    background-color: #ffff;
}

.error-message {
    position: absolute;
    top: 39px; 
    left: 0;
    font-size: 9pt;
    color: red;
}