<ul class="navbar-nav">
  <li appToggleFullScreen>
    <a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a>
  </li>
  <li class="nav-item dropdown" ngbDropdown placement="auto" *ngIf="loggedUser?.role == 'Admin'">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Ações administrativas</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" href="javascript:">Registro de Webhooks</a></li>
      <li><a class="dropdown-item" href="javascript:">Registro de Usuários</a></li>
      <li><a class="dropdown-item" href="javascript:">Painel de Configuração</a></li>
      <li><a class="dropdown-item" href="javascript:">Execução de Rotinas</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
</ul>