<ul class="navbar-nav">
  <li appToggleFullScreen>
    <a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a>
  </li>
  <li class="nav-item dropdown" ngbDropdown placement="auto" *ngIf="loggedUser?.role == 'Admin'">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Recursos Complementares</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" [routerLink]="'/webhooks'"><i class="bi bi-journal-code"></i> Registro de Webhooks</a></li>
      <li><a class="dropdown-item" [routerLink]="'/notifications'"><i class="bi bi-bell"></i> Registro de Notificações</a></li>
      <li><a class="dropdown-item" [routerLink]="'/users-registration-queue'"><i class="bi bi-person-gear"></i> Registro de Usuários</a></li>
      <li><a class="dropdown-item" [routerLink]="'/setting-panel'"><i class="bi bi-ui-checks-grid"></i> Painel de configuração</a></li>
      <li><a class="dropdown-item" [routerLink]="'/system/automated'"><i class="bi bi-dpad"></i> Rotinas automatizadas</a></li>
      <li><a class="dropdown-item" href="javascript:"><i class="bi bi-people"></i>Gerenciar acesso</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
</ul>