<div [@fadeInOnEnter]>
  <div class="search-form-container rounded">
    <div class="container-fluid">
      <div>
        <form class="input-group">
          <span class="span-custom">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" class="form-control rounded" placeholder="Pesquisar por..." (input)="search($event)">
        </form>
      </div>
      <div>
        <button class="custom-button rounded shadow-2" [routerLink]="['/customer/new']"><i
            class="bi bi-plus"></i>Cliente</button>
      </div>
    </div>
  </div>
  <app-card cardTitle="Clientes" cardClass="bus" blockClass="p-0">
    <div class="fleet-container" *ngIf="customers?.length != 0 else notFound">
      <div *ngFor="let item of customers">
        <div class="fleet-row" (click)="openDetails(item.id)">
          <div class="fleet-cell">
            <p>{{item.name}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{phoneNumberFormatted(item.phoneNumber)}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{dateFormatted(item.birthDate ?? item.openDate)}}</p>
          </div>
          <div class="fleet-cell">
            <p>{{item.city}}, {{item.state.toUpperCase()}}</p>
          </div>
          <div class="fleet-cell actions rounded">
            <a href="javascript:"
              class="label {{getLabelActive(item.active)}} rounded shadow-1">{{getDetailActive(item.active)}}</a>
          </div>
          <div class="fleet-cell actions rounded">
            <a href="javascript:"
              class="label {{getLabelType(item.type)}} rounded shadow-1">{{getDetailType(item.type)}}</a>
          </div>
          <div class="fleet-cell actions">
            <div class="action-menu">
              <a href="javascript:" class="action-item" title="Editar"><i class="feather icon-edit"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fleet-row pagination">
        <mat-paginator (page)="handlePageEvent($event)" [length]="pagination.totalSize" [pageSize]="pagination.pageSize"
          [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Selecione a página">
        </mat-paginator>
      </div>
    </div>
    <ng-template #notFound>
      <div class="fleet-container">
        <div class="fleet-row">
          <div class="fleet-cell">
            <p>Nenhum registro foi encontrado</p>
          </div>
        </div>
      </div>
    </ng-template>
  </app-card>
</div>